<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>e-commerce</title>
  </head>
  <body>
    <div class="grade-container">
      <header class="header">
        <div class="brand">
          <button onclick="openMenu()">
            &#9776;
          </button>
          <a href="index.html">e-commerce</a>
        </div>
        <div class="header-links">
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <aside class="asidebar">
        <h3>Shoping Categories</h3>
        <ul>
          <li>
            <a href="index.html">Pants</a>
          </li>
          <li>
            <a href="index.html">Shirts</a>
          </li>
        </ul>
      </aside>
      <main class="main">
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <img class="product-img" src="images/d1.jpg" alt="product" />
                <div class="product-name">
                  <a href="product.html">Slim Shert</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-img" src="images/d1.jpg" alt="product" />
                <div class="product-name">
                  <a href="product.html">Slim Shert</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-img" src="images/d1.jpg" alt="product" />
                <div class="product-name">
                  <a href="product.html">Slim Shert</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-img" src="images/d1.jpg" alt="product" />
                <div class="product-name">
                  <a href="product.html">Slim Shert</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-img" src="images/d1.jpg" alt="product" />
                <div class="product-name">
                  <a href="product.html">Slim Shert</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-img" src="images/d1.jpg" alt="product" />
                <div class="product-name">
                  <a href="product.html">Slim Shert</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-img" src="images/d1.jpg" alt="product" />
                <div class="product-name">
                  <a href="product.html">Slim Shert</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">all right reserved.</footer>
    </div>
    <script>
      var open = true;
      function openMenu(){
        if(open === true){
          document.querySelector(".asidebar").classList.add("open");
          open = false;
        }else{
          document.querySelector(".asidebar").classList.remove("open");
          open = true;
        }
        
      }
    </script>
  </body>
</html>
